# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# -------------------------------
# Jupyter Notebook
# -------------------------------
.ipynb_checkpoints/
*.ipynb

# -------------------------------
# Virtual environments
# -------------------------------
venv/
env/
pienv/
.env
*.env

# -------------------------------
# Data / dataset files
# -------------------------------
src/data/
*.csv
*.tsv
*.json

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# IDE / editor configs
# -------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------------
# OS files
# -------------------------------
.DS_Store
Thumbs.db
models/

