    __pycache__/    
    .ipynb_checkpoints
    .vscode
    # Virtual environments
    venv/
    pienv/
    pienv
    .env/
    .env
    .env*/
    *.pkl
    *.pyc
    models/
    src/models/
    __pycache__/
